body{
    background: #0f26f0;
    background: url(/static/images/addproductbg.jpg) no-repeat;

}

.container{
    background: transparent;
    max-height: 90vh;
    display: flex;
    align-items: center;
    /* border:1px solid gray ; */
    padding: 3%;
}
.inside_container{
    background: transparent;

    min-height: 80vh;
    width: 100%;
}
.inside_container .bodies{
    display: flex;
    flex-direction: column;
    /*flex: 1.5;*/
    height: 100%;
    flex-shrink: 3;
    background-size:cover;
    background: url(/static/images/addproductbg.jpg) no-repeat;
    /*box-shadow: 0 0 180px 10px rgb(0 0 0 / 90%) inset;*/
}


#condition{
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;

}
#category{
    padding-top: 10px;
    width:70%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;

}
.inside_container .bodies textarea{
    width: 70%;
    resize: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.inside_container .bodies select{
    margin-bottom: 3%;
}
.inside_container .footer{
    margin: 20px;

    
}
.inside_container .footer button{
    margin-right: 350px;
}