@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-family: "Nunito", sans-serif;
}

form{
    width: 100%;
    margin: 11px 17px 36px 17px;
}

/*Navigation From Here  */

header{
    z-index: 10;
    /* border: solid green 5px; */
    top: 0;
    height: 20vh;
    position: fixed;
    width: 100%;
}
.upperpart{
    /* border: solid red 5px; */
    /* align-items: center; */
    height: 10vh;
    display: flex;
    background-color: black;

}
.upperpart i{
    /* border: solid red 2px; */
    color: white;
    height: 50%;
    margin-top: 25px;
    margin-right:10px;
    margin-left: 10px;
    width: 2%;

}
.upperpart input{
    border: solid black 2px;
    margin-left: 550px;
    border-radius: 10px;
    width: 30%;
    height: 70%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.upperpart h1{
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}

.lowerpart{
    /* border: solid purple 5px; */
    height: 8vh;
    display: flex;
    background-color:white;
    /* margin-left: -10px; */


}
.lowerpart a{
    border-radius: 5px;
    height: 30px;
    color: gray;
    font-weight: 700;
    margin-left: 150px;
    margin-top: 5px;
    font-size: 18px;
}
.lowerpart a:hover{
    background-color: rgb(240, 243, 255);
}
/* navigation upto here */

.wrapper {
    width: 90%;
    margin-top: 150px;
    margin-left: 50px;
}
.wrapper h1 {
    padding: 10px 0;
    margin: 28px;
    text-align: center;
    text-transform: uppercase;
}
.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 12px 10px;
    height: 70%;
}
.shop{
    width: 100%;
}

.box {
    display: flex;
    width: 100%;
    height: 70%;
    overflow: hidden;
    margin-bottom: 37px;
    position: relative;
    background: #fff;
    transition: all .6s ease;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    border-radius: 10px;
}
.box:hover {
    transform: scale(1.01);
    border: solid;
}
.box img {
    width: 111%;
    height: 515px;
    border-radius: 10px 0 0 10px;
    object-fit: fill;
}
.content {
    padding: 0 0 0 18px;
    width: 100%;
    position: relative;
    text-align: left;
}

p {
    text-align: left;
    margin: 10px 5px 10px 10px;
}

.content h3 {
    margin-bottom: 30px;
}
.content h4 {
    text-align: left;
    margin-bottom: 50px;
}
.btn-area1 {
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 10px 25px;
    background-color: #3a71a9;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.btn-area {
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding: 10px 25px;
    background-color: #3a71a9;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.btn-area:hover {
    background-color: #76bfb6;
    color: #fff;
    font-weight: 600;
}
.btn-area1:hover {
    background-color: #76bfb6;
    color: #fff;
    font-weight: 600;
}
.unit input {
    width: 60px;
    padding: 5px;
    text-align: center;
    border: solid gray 3px;
    border-radius: 3px;
}
.btn-area i {
    margin-right: 5px;
}
.right-bar {
    margin-right: -71px;
    margin-top: -62px;
    flex: 33%;
    padding: 20px;
    border: solid;
    height: 530px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.right-bar hr {
    margin-bottom: 25px;
}
.right-bar p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.right-bar a {
    background-color: #f6faf9;
    color: rgb(6, 4, 4);
    text-decoration: none;
    /*display:flexbox;*/
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
}
.right-bar i {
    margin-right: 15px;
}
.right-bar a:hover {
    background-color: #78a4ce;
}
.product-detail{
    width: 100%;
}
.product-detail h1{
    /*border: solid green 5px;*/
    margin-top: -70px;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .content h3 {
        margin-bottom: 15px;
    }
    .content h4 {
        margin-bottom: 20px;
    }
    .btn2 {
        display: none;
    }
    .box {
        height: 150px;
    }
    .box img {
        height: 150px;
        width: 200px;
    }
}
@media screen and (max-width: 900px) {
    .project {
        flex-direction: column;
    }
    .right-bar {
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1250px) {
    .wrapper {
        max-width: 95%;
    }
}
.product-detail{
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 5%;
    width: 100%;
}
.desc{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.review{
    width: 100%;
    margin-top: 3%;
    background-color: whitesmoke;
    padding: 3%;

}
.review h1{
    margin-top: -70px;
    font-size: 20px;
}
.individual{
    background-color: aliceblue;
}
.star{
    border:none;
    background-color: unset;
    color:goldenrod;
    font-size: 3rem;
}

* {
    font-family: Roboto;
}

.footertitle {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 5vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 40px;
}

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin-left: 10px;
}
/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
    /* border: green solid 5px; */
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
    /* border: red solid 5px; */
    margin-left: 10px;
    border-radius: 10px;
}
.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}
.footer-distributed .footer-links a:before {
    margin-left: 20px;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;

}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    /* background-color: #33383b; */
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    margin-top: -20px;
    transition:all .25s;

}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);

}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

/* Footer Ends Here */
