* {
    padding: 0;
    margin: 0;
  }

  .whole h1{
      background-color: #F4F6F8;
      margin-left: 0;
  }
  
  .right h1{
      background-color: #F4F6F8;
      display: inline-block;
      margin-left: 5%;
  }
  .right h2{
   
      margin-left: 5%;
  }
  .bodies{
          
      display: flex;
      justify-content: space-around;
      margin-top: 0;
      flex-wrap: wrap;
      
      
  }
  .left{
      width: 20%;
      margin: 0;
      display: flex;
      flex-direction: column;
      
  }
  .left a{
      margin-top: 5px;
      padding: 5px;
      text-decoration: none;
     
      border-radius: 15px;
      background-color: #F4F6F8;
      color: black;
      
  }
  .left a:hover{
      background-color: #CADCEE;
  }
  .right{
      width: 70%;
      height: 80vh;
      
      margin-bottom: 5%;
      background-color: #F4F6F8;
      border-radius: 20px;
      
      
  }
  input{
      border-radius: 10px;
      width: 60%;
      height: 25px;
      background-color: #EBEFF3;
      
  }
  .input_info{
      display: flex;
      
      background-color: #f4f4f4;
      flex-wrap: wrap;
      margin-left: 10%;
      padding-bottom: 20px;
   
  }
  .element{
      width: 50%;
      margin-top: 10px;
      
     
      background-color: #f4f4f4;
  }
  
  
  /* .right button{
      border-radius: 10px;
      margin-top: 60px;
      margin-left: 50px;
      background-color: gray;
      cursor: pointer;
      
  
      margin-bottom: 40px;
      
  
  } */

  
  body{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      line-height: 1.6;;
  }
  
  .shop {
    /* flex: 50%; */
    width: 75%;
  }
  .box {
    display: flex;
    width: 100%;
    height: 45%;
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .box:hover {
    border: none;
    transform: scale(1.01);
  }
  .box img {
    display: flex;
    width: 35%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    padding: 20px;
    width: 100%;
    position: relative;
  }

  .button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #F082AC;
  }
  .button-2 {
    background-color: red;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin-top: 5%;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
  }
  
  .button-2:hover,
  .button-2:focus {
    background-color: #F082AC;
  }
  
  
  
  
  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
  