/*{box-sizing: border-box;}*/

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    /*bottom: 0;*/
    right: 350px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    width: 800px;
    height: 70vh;

    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
/*.form-container input[type=email]{*/
/*    width: 100%;*/
/*    padding: 15px;*/
/*    margin: 5px 0 22px 0;*/
/*    border: none;*/
/*    background: #f1f1f1;*/
/*}*/

/*.form-container input[type=textarea]{*/
/*    width: 100%;*/
/*    padding: 15px;*/
/*    margin: 5px 0 22px 0;*/
/*    border: none;*/
/*    background: #f1f1f1;*/
/*}*/
.form-container label {
    margin-top: 20px;
    margin-bottom: 10px;
}
.form-container input[type= email] {
    width: 100%;
    margin-top: 10px;
    border: none;
    background: #f1f1f1;
    height: 60px;
}
.form-container input[type= text] {
    width: 100%;
    margin-top: 10px;
    border: none;
    background: #f1f1f1;
    height: 100px;
}


/*.form-container input{*/
/*    width: 100%;*/
/*    margin-top: 10px;*/
/*    border: none;*/
/*    background: #f1f1f1;*/
/*    height: 60px;*/
/*}*/


/*.form-container .description{*/
/*    width: 100%;*/
/*    margin-top: 10px;*/
/*    border: none;*/
/*    background: #f1f1f1;*/
/*    height: 40px;*/
/*    resize: none;*/
/*}*/
/*.email :focus{*/
/*    background-color: #ddd;*/
/*    outline: none;*/



.form-container input:focus{
    background-color: #ddd;
    outline: none;
}


/* When the inputs get focus, do something */
/*.form-container input[type=email]:focus, .form-container input[type=textarea]:focus {*/
/*    background-color: #ddd;*/
/*    outline: none;*/
/*}*/


/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    /*padding: 16px 20px;*/
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top:20px;
    margin-bottom:10px;
    opacity: 0.8;
    /*border: black solid 5px;*/
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}