html{
  height: 100%;
  /* border: solid green 5px; */
  overflow: hidden;;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: #eee8ee
}

.login-form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 780px;
  height: 70%;
  /* background-color: white; */
  box-shadow: 0 6px 20px rgba(25, 27, 28, 0.5);
  /* padding: 30px; */
  margin: 20px 300px;
  border-radius: 10px;
  /* border: solid red 5px; */

}

.left-section {
  width: 55%;
  background: #c4c8c9;
  border-radius: 10px 0 0 10px;
}

.right-section {
  width: 50%;
  /* background: white; */
}
.login-form .left-section h2 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.left-section span {
  color: black;
  /* border: solid green 5px; */
}

.login-form .formGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.login-form .formGroup input {
  position: relative;
  font-size: 14px;
  border: transparent;
  width: 45%;
  background-color: #e0e8f0 ;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 13px;
  border-radius: 5px;

}

.formGroup input:focus {
  outline: none;
  border-bottom: 1.5px solid rgb(107, 107, 116) ;
  font-size: 16px;
  font-weight: bold;
}

::placeholder {
  color: rgb(87, 87, 87)
}

.left-section .submit-btn {
  background-color: #24a0ed;
  color: white;
  margin-left: 120px;
  padding: 11px 50px;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 10px;

  border: transparent;
  border-radius: 8px;
}

.left-section .submit-btn:hover {
  letter-spacing: .3rem;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 50px;
  background-color: rgb(9, 98, 133);
  box-shadow:  0px 0px 5px rgb(23, 176, 236),
  0px 0px 5px rgb(23, 176, 236),
  0px 0px 5px rgb(23, 176, 236),
  0px 0px 5px rgb(23, 176, 236);
  cursor: pointer;
}

.left-section .ask {
  margin-left: 120px;

}

.left-section .ask a{
  text-decoration: none;
}

.right-section img {
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}



