@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-family: "Nunito", sans-serif;

}

/*Navigation From Here  */

header{
    /* border: solid green 5px; */
    top: 0;
    height: 20vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.upperpart{
    /* border: solid red 5px; */
    /* align-items: center; */
    height: 10vh;
    display: flex;
    background-color: black;

}
i{
    /* border: solid red 2px; */
    color: white;
    height: 50%;
    margin-top: 25px;
    margin-right:10px;
    margin-left: 10px;
    width: 2%;

}
i:hover{
    transform:scale(1.3);
    -webkit-transform:scale(1.3);
    cursor: pointer;

}
.upperpart input{
    border: solid black 2px;
    margin-left: 550px;
    border-radius: 10px;
    width: 30%;
    height: 70%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.upperpart h1{
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}

.lowerpart{
    /* border: solid #292c2f 3px; */
    border-radius: 2px;
    height: 8vh;
    display: flex;
    background-color:#eee0;
    z-index: 1000;
    /* margin-left: -10px; */


}
.lowerpart a{
    border-radius: 5px;
    height: 30px;
    color: gray;
    font-weight: 700;
    margin-left: 119px;
    margin-top: 13px;
    font-size: 18px;
    padding-left: 35px;

}
.lowerpart a:hover{
    background-color: rgb(240, 243, 255);
}
/* navigation upto here */

.rightpart{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin-top: 120px;
    margin-left: 70px;
    height: 68vh;

}
h1{
    margin-left: 20px;


}
h2{
    margin-left: 100px;
    margin-top: 20px;
}
h3{
    margin-left: 100px;
    margin-top: 20px;
}
.info{
    border-radius: 5px;
    margin-top: 10px;
    height: 5vh;
    width: 80%;
    border: #d9d9d9;
    background-color: #eee;
}
.rightpart .namebox{
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 100px;
    width: 30%;


}
.rightpart .number{
    border-radius: 20px;
    margin-top: -70px;
    margin-left: 800px;
    width: 30%;

}

.rightpart .address{
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 100px;
    width: 30%;


}

.rightpart .email{
    border-radius: 20px;
    margin-top: -70px;
    margin-left: 800px;
    width: 30%;
}
.rightpart .pw{
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 100px;
    width: 30%;
    /* border: solid green 5px; */



}
.rightpart .cpw{
    border-radius: 20px;
    margin-top: -70px;
    margin-left: 800px;
    width: 30%;
    /* border: solid red 5px; */



}
.rightpart .savebuttton button{
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 275px;
    width:10%;
    height: 40px;
    background-color: #24a0ed;
    border: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.rightpart .deletebuttton button{
    border-radius: 10px;
    margin-top: -35px;
    margin-left: 800px;
    width:10%;
    /* border: green solid 5px; */
    height: 40px;
    background-color: red;
    border: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
}



