*{
    margin: 10px 10px 10px 10px;
}

body{
    display:flex ;
    flex-flow: wrap;
}

#piechart{
    flex: 1;
    border: #000718 solid 4px;
    height: 10px;
    width: 10px;
}

#bargraph{
    height: 10px;
    width: 10px;
    flex: 1;
    border: #000718 solid 4px;
}

#linegraph{

    flex:1;
    border: #000718 solid 4px;

}