<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="./FontAwesome files/fontawesome.css" /> -->
  <!-- <script src="./FontAwesome files/fontawesome.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/SastoHub/src/main/resources/static/css/ChangeProductDetails.css">
  <title>Edit Product Details</title>
</head>
<!-- <body>
    <script>
      const toggle = () => {
        document.getElementById("nav").classList.toggle("navactive");
      };
    </script> -->
    
<header>
  <div class="brand">
    <span class="SastoHub"></span>
    <h1>SastoHub</h1>
  </div>
  <span class="fas fa-bars" id="menuIcon" onclick="toggle()"></span>
  <div class="navbar" id="nav">
    <div class="searchBox">
      <input type="text" placeholder="Search Here" />
      <span class="fas fa-search" id="searchIcon"></span>
    </div>
    <ul>
      <li>
        <span class="fas fa-home" id="headIcon"></span>
        <a href="#"> Home </a>
      </li>
      <li>
        <span class="fa fa-list" id="headIcon"></span>
        <a href="#"> Categories </a>
      </li>
      <li>
        <span class="fas fa-sell" id="headIcon"></span>
        <a href="#"> Sell</a>
      </li>
      <li>
        <span class="fas fa-services" id="headIcon"></span>
        <a href="#"> Services </a>
      </li>
      <li>
        <span class="fas fa-contact" id="headIcon"></span>
        <a href="#"> Contact </a>
      </li>
      <li>
        <span class="fas fa-" id="headIcon"></span>
        <a href="#"> About </a>
      <li>
        <span class="fas fa-help" id="headIcon"></span>
        <a href="#"> Help </a>
      </li>
      </li>
    </ul>
  </div>
</header>
<body>


  <section id="whole">
    
      <h1>Edit Product Details</h1>
      <div class="bodies">
          <div class="left">
              <a href=""><i class="fa-solid fa-user"></i> My Details</a>
              <a href=""><i class="fa-sharp fa-solid fa-location-dot"></i> My Address</a>
              <a href=""><i class="fa-brands fa-first-order-alt"></i> My Orders</a>
              
              <a href=""><i class="fa-solid fa-star-half-stroke"></i>My Reviews</a>
              
              
          </div>
          <div class="right">
              
              <div class="input_info">
                  <div class="element">
                  Title <br> 
                  <input type="text">
              </div>
              <div class="element">
                  Price <br>
                  <input type="text">
              </div>
              <div class="element">
                  Condition<br> 
                  <input type="text">
                  
              </div>
              <div class="element">
                  Category<br>
                  <input type="text">
              </div>
              <div class="element">

                  Description<br>
                  <input type="text">
              </div>
              <div class="wrapper">
                <form action="#">
                    <input class="file-input" type="file" name="file" accept="image/jpeg, image/png, image/jpg" hidden>
                    <i class="fa-solid fa-circle-plus"></i>
                    <p>Upload Photos</p>
                </form>
                <!-- <section class="progress-area"></section>
                <section class="uploaded-area"></section> -->
            </div>
              </div>
              <button>Save</button>



          </div>

      </div>


  </section>
  
</body>

<footer class="footer-distributed">

  <div class="footer-right">

      <a href="" class="facebook-class"> <i class="fa-brands fa-facebook"></i>

</a>

<a href="" class="twitter-class"><i class="fa-brands fa-twitter"></i>

</a>
<a href="" class="instagram-class"><i class="fa-brands fa-instagram"></i>

</a>

<a href="" class="linkedin-class"><i class="fa-brands fa-linkedin"></i>

</a>
  </div>
  
  <div class="footer-left">

    <p class="footer-links">
        <a class="link-1" href="#">Home</a>

        <a href="#">Blog</a>

        

        <a href="#">About Us</a>

        <a href="#">FAQs</a>

        <a href="#">Contact Us</a>
    </p>

    <p>SastoHub &copy; 2022</p>
</div>

</footer> 



</div>

<script src="/SastoHub\src\main\resources\static\js\ChangeProductDetails.js"></script>
</html>
