
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Resources/static/css/style.css" />
    <script src="./FontAwesome files/fontawesome.js"></script>
    <link rel="stylesheet" href="\SastoHub\src\main\resources\static\css\style.css"/>
    <title>Responsive header</title>
  </head>
  <!-- <body>
    <script>
      const toggle = () => {
        document.getElementById("nav").classList.toggle("navactive");
      };
    </script> -->
    <header>
      <div class="brand">
        <span class="SastoHub"></span>
        <h1>SastoHub</h1>
      </div>
      <span class="fas fa-bars" id="menuIcon" onclick="toggle()"></span>
      <div class="navbar" id="nav">
        <div class ="searchBox">
          <input type="text" placeholder="Search here..." />
          <span class="fas fa-search" id="searchIcon"></span>
        </div>
        <ul>
          <li>
            <span class="fas fa-home" id="headIcon"></span>
            <a href="#"> Home </a>
          </li>
          <li>
            <span class="fa fa-user-circle" id="headIcon"></span>
            <a href="#"> Categories </a>
          </li>
          <li>
            <span class="fas fa-question-circle" id="headIcon"></span>
            <a href="#"> Sell On SastoHub</a>
          </li>
          <li>
            <span class="fas fa-lock" id="headIcon"></span>
            <a href="#"> Services </a>
          </li>
          <li>
            <span class="fas fa-sign-out" id="headIcon"></span>
            <a href="#"> Contact </a>
          </li>
          <li>
            <span class="fas fa-lock" id="headIcon"></span>
            <a href="#"> About </a>
            <li>
                <span class="fas fa-lock" id="headIcon"></span>
                <a href="#"> Help </a>
              </li>
          </li>
        </ul>
      </div>
    </header>

    <body>
      
    
    
    <div class="wrapper">
      <h1>Shopping Cart</h1>
      <div class="project">
        <div class="shop">
          <div class="box">
            <img src="1.jpg">
            <div class="content">
              <h3>Women Lipsticks</h3>
              <h4>Price: $40</h4>
              <p class="unit">Quantity: <input name="" value="2"></p>
              <p class="btn-area"  onclick="document.getElementById('id01').style.display='block'"><i aria-hidden="true" class="fa fa-trash" ></i> <span class="btn2">Remove</span></p>
            </div>
          </div>
          <div class="box">
            <img src="2.jpg">
            <div class="content">
              <h3>Man's Watches</h3>
              <h4>Price: $40</h4>
              <p class="unit">Quantity: <input name="" value="1"></p>
              <!-- <button class="btn2"  role="button" onClick="showMessage()" >Remove</button> -->
              <p class="btn-area" onclick="document.getElementById('id01').style.display='block'"><i aria-hidden="true" class="fa fa-trash"></i> <span class="btn2">Remove</span></p>
            </div>
          </div>
          <div class="box">
            <img src="3.jpg">
            <div class="content">
              <h3>Samsung Mobile</h3>
              <h4>Price: $250</h4>
              <p class="unit">Quantity: <input name="" value="0"></p>
              <p class="btn-area" onclick="document.getElementById('id01').style.display='block'"
               
               ><i aria-hidden="true" class="fa fa-trash"></i> <span class="btn2">Remove</span></p>
            </div>
          </div>
        </div>
        <!-- <div id="id01" class="modal">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
          <form class="modal-content" action="/action_page.php">
            <div class="container">
              <h1>Delete Account</h1>
              <p>Are you sure you want to delete your account?</p>
            
              <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button>
              </div>
            </div> -->
          </form>
        </div>
        <div class="right-bar">
          <p><span>Subtotal</span> <span>$120</span></p>
          <hr>
          <p><span>Tax (5%)</span> <span>$6</span></p>
          <hr>
          <p><span>Shipping</span> <span>$15</span></p>
          <hr>
          <p><span>Total</span> <span>$141</span></p><a href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
        </div>
      </div>
    </div>
    

  </body>


    
    <footer>
      <footer>
          <div class="content">
            <div class="left box">
              <div class="upper">
                <div class="topic">About us</div>
                <p>SastoHub is local E-commercial site built for simplicity of customers.</p>
              </div>
              <div class="lower">
                <div class="topic">Blog</div>
               
              </div>
            </div>
            <div class="middle box">
              <div class="topic">FAQs</div>
          
            <div class="right box">
              <div class="topic">Contact us</div>
              <form action="#">
                <input type="text" placeholder="Enter email address">
                <input type="submit" name="" value="Send">
                <div class="media-icons">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-google"></i></a>
                  </div>
              </form>
            </div>
          </div>
          
        </footer>
    </footer>
    <script>
      // Get the modal
      var modal = document.getElementById('id01');
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
    <!-- <script>
        function showMessage() {
            alert("delected");
        }
    </script> -->
    

    <!-- <footer>
      <div class="row primary">
        <div class="column about">
      
        <h3>Foolish Developer</h3>
      
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
            voluptatem corporis error non,
        </p>
      
        <div class="social">
          <i class="fa-brands fa-facebook-square"></i>
          <i class="fa-brands fa-instagram-square"></i>
          <i class="fa-brands fa-twitter-square"></i>
          <i class="fa-brands fa-youtube-square"></i>
          <i class="fa-brands fa-whatsapp-square"></i>
        </div>
      </div>
       -->
      <!-- <div class="column links">
      <h3>Some Links</h3>
      
       <ul>
      
        <li>
         <a href="#faq">F.A.Q</a>
        </li>
        <li>
         <a href="#cookies-policy">Cookies Policy</a>
        </li>
        <li>
         <a href="#terms-of-services">Terms Of Service</a>
        </li>
        <li>
         <a href="#support">Support</a>
        </li>
       </ul>
      
      </div>
       -->
<!--       
      <div class="column links">
        <h3>Some Links</h3>
         <ul>
          <li>
           <a href="#faq">F.A.Q</a>
          </li>
          <li>
           <a href="#cookies-policy">Cookies Policy</a>
          </li>
          <li>
          <a href="#terms-of-services">Terms Of Service</a>
          </li>
          <li>
          <a href="#support">Support</a>
          </li>
        </ul>
      </div>
      
      <div class="column subscribe">
       <h3>Newsletter</h3>
        <div>
         <input type="email" placeholder="Your email id here" />
         <button>Subscribe</button>
        </div>
      
      </div>
      
      </div>
      
      <div class="row copyright">
        <div class="footer-menu">
      
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Contact</a>
        <a href="">Blog</a>
        <a href="">Social</a>
      
        </div>
         <p>Copyright &copy; 2021 Foolish Developer</p>
      </div>
      </footer>
  -->


  
</html>