<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/SastoHub/src/main/resources/static/css/login.css">
  <script src="https://kit.fontawesome.com/b0f0ee728d.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
</head>

<body>

  <div class="login-form">

    <img src="/SastoHub/src/main/resources/static/images/sdfa.png" alt="">
    <div class="left-section">

      <h2>
        Sign In
      </h2>

      <form action="">
        <div class="formAlign">
          <div class="formGroup">
            <input type="text" id="fullname" placeholder="Email" required>
            
          </div>

          <div class="formGroup">
            <input type="text" id="fullname" placeholder="Password" required>
          </div>
          <a href="#" class="forgot"><small> Forgot Password?</small></a>
          <button type="button" class="btn btn-secondary btn-align">
            <a href="HomePage.html">Login</a>
          </button>
          <p class="ask">
            Dont Have An Account?
            <a href="Signup.html">SignUp</a>
          </p>
        </div>
      </form>
      
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>