<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProductImage</title>
  <link rel="stylesheet" href="/SastoHub/src/main/resources/static/css/productphoto.css" >
  <script src="https://kit.fontawesome.com/dded80a5ca.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrapper">
      <input type="text" name="title" id="title" placeholder="Add Title">    
    <form action="#">
      <input class="file-input" type="file" name="file" accept="image/jpeg, image/png, image/jpg" hidden>
     <i class="fa-solid fa-circle-plus"></i>
      <p><b>Upload Photos</b></p>
    </form>
    <section class="progress-area"></section>
    <section class="uploaded-area"></section>
    <div class="footer">
      <button class="back">Back</button>
      <button class="next">Next</button>
    </div>
  </div>
    <script src="/SastoHub/src/main/resources/static/js/productphoto.js"></script>
</body>
</html>