<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{~/css/aboutus.css}">
</head>
<header>
    <div class="upperpart">
        <h1>
            <a th:href="@{~/home/homepage}">Sasto Hub</a>
        </h1>

        <input type="text" placeholder="Search">

        <i class="fa-solid fa-cart-shopping "></i>
        <a th:href="@{~/user/profile/{id}}"><i class="fa-solid fa-user "></i></a>


    </div>
    <div class="lowerpart">
        <a th:href="@{~/home/homepage}">Home</a>
        <a th:href="@{~/home/homepage}">Categories</a>

        <a th:href="@{~/home/homepage}">Services</a>
        <a th:href="@{~/pay/payment}">Contact</a>


        <a th:href="@{~/user/about}">About</a>


    </div>
</header>
<body>
<div class="page-body">
    <div class="main-img">
        <img src="/static/images/about.jfif" alt="">
    </div>
    <div class="desc">
        <h1>About Us</h1>
        <br>
        <p>We are a team of dedicated individuals who are passionate about bringing you the best selection of products at affordable prices. Our goal is to make online shopping convenient, enjoyable, and accessible to everyone.
            <br>

            With a wide range of products across various categories, there's something for everyone at our store. From fashion and home goods to electronics and toys, we have it all. Our team works tirelessly to curate a selection of high-quality products from trusted brands and suppliers.
            <br>

            We value our customers and strive to provide excellent customer service. Whether you have a question about a product or need help with your order, our friendly and knowledgeable customer service team is here to assist you.
            <br>

            Thank you for choosing to shop with us. We look forward to serving you and hope you have a great shopping experience with us!</p>
    </div>
</div>

<div class="footertitle">SastoHub</div>

<footer class="footer-distributed">

    <div class="footer-right">

        <a href="" class="facebook-class"> <i class="fa-brands fa-facebook"></i></a>
        <a href="" class="twitter-class"><i class="fa-brands fa-twitter"></i></a>
        <a href="" class="instagram-class"><i class="fa-brands fa-instagram"></i></a>
        <a href="" class="linkedin-class"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a class="link-1" th:href="@{~/home/homepage}">Home</a>

            <a th:href="@{~/user/about}">About Us</a>

            <a th:href="@{~/user/faq}">FAQs</a>

            <a th:href="@{~/pay/payment}">Contact Us</a>
        </p>

        <p>sastohub@gmail.com Ktm, Nepal<br>
            85475967841, 3210154789, 0124587895</p>
        <p>SastoHub &copy; 2022</p>
    </div>

</footer>
</body>
</html>