<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link th:href="@{~/css/addproduct.css}" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/addproduct.css">


</head>

<body>


      <div class="wrapper">
          <form th:method="post" th:action="@{/product/save}" th:object="${product}">

              <input type="text" hidden placeholder="UserId..."  th:field="*{pid}" th:value="${product.pid}" />

              <input type="text"  id="title" placeholder="Add Title" required th:field="*{ptitle}" th:value="${product.ptitle}" />

              <input type="text"  id="category" placeholder="Category" required th:field="*{PCategories}"  th:value="${product.PCategories}" />

              <textarea type="number" rows="10" cols="100" placeholder="ProductDescription....." required th:field="*{PDesc}"  th:value="${product.PDesc}"  > </textarea>

              <input type="number" id="price" placeholder="Product Price"  required th:field="*{PPrice}"  th:value="${product.PPrice}" />

              <div class="footer">
                  <button class="next">AddProduct</button>
              </div>

          </form>

      </div>

      <script src="/static/js/productphoto.js"></script>

</body>
</html>