<!DOCTYPE html>


<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{~/css/admin.css}">
    <link rel="stylesheet" th:href="@{~/css/popup.css}">
<!--    <link rel="stylesheet" href="/static/css/admin.css">-->
    <title>AdminPanel</title>
</head>

<body>
<div th:replace="fragments/AdminNavFrag.html :: adminnav"></div>
<div class="vessel"  >
        <table class="table table-bordered table-hover table-striped" >
            <thead class="thead-dark">
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Address</th>
                <th scope="col">Image</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Bhatta</td>
                <td>Men's Jeans</td>
                <td>2100</td>
                <td>Clothes</td>
                <td>Pokhara</td>
                <td>File</td>
                <td>smgth@gmail.com</td>
                <td>
<!--                    <a onclick="popup()"  class = "btn btn-primary"href="email.html">Contact</a>-->
                    <!-- Button trigger modal -->
                    <button class="open-button btn btn-primary " onclick="openForm()">Contact</button>

                    <!-- The form -->
                    <div class="form-popup" id="myForm">
                        <form action=" " class="form-container">
                            <h1>Contact User</h1>

                            <label id="mail"><b>Email</b></label>
                            <input type="email" placeholder="Enter Email" name="email" required>

                            <label id="description"><b>Description</b></label>
                            <input type="text" placeholder="Details to be Send to User" name="description" required>

                            <button type="submit" class="btn">Send</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                        </form>
                    </div>
                </td>
            </tr>


            </tbody>
        </table>
    </div>


<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>-->



</body>
<script th:src="@{~/js/script.js}"></script>

<script>  let myPage = "dash";
let listGroupItem = Array.from(document.getElementsByClassName("list-view-active"));
listGroupItem.forEach(i=>{    i.classList.remove("active")  })
let activeID = document.getElementById(myPage);  activeID.classList.add("active");
</script>
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>
</html>