<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="./FontAwesome files/fontawesome.css" /> -->
  <!-- <script src="./FontAwesome files/fontawesome.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" th:href="@{~/css/Browseproduct.css}" />
  <title>Browse Product</title>
</head>
<!-- <body>product
    <script>
      const toggle = () => {
        document.getElementById("nav").classList.toggle("navactive");
      };
    </script> -->
<header>
  <div class="brand">
    <span class="SastoHub"></span>
    <h1>SastoHub</h1>
  </div>
  <span class="fas fa-bars" id="menuIcon" onclick="toggle()"></span>
  <div class="navbar" id="nav">
    <div class="searchBox">
      <input type="text" placeholder="Search Here" />
      <span class="fas fa-search" id="searchIcon"></span>
    </div>
    <ul>
      <li>
        <span class="fas fa-home" id="headIcon"></span>
        <a href="#"> Home </a>
      </li>
      <li>
        <span class="fa fa-list" id="headIcon"></span>
        <a href="#"> Categories </a>
      </li>
      <li>
        <span class="fas fa-sell" id="headIcon"></span>
        <a href="#"> Sell</a>
      </li>
      <li>
        <span class="fas fa-services" id="headIcon"></span>
        <a href="#"> Services </a>
      </li>
      <li>
        <span class="fas fa-contact" id="headIcon"></span>
        <a href="#"> Contact </a>
      </li>
      <li>
        <span class="fas fa-" id="headIcon"></span>
        <a href="#"> About </a>
      <li>
        <span class="fas fa-help" id="headIcon"></span>
        <a href="#"> Help </a>
      </li>
      </li>
    </ul>
     <!-- Profile Picture Division -->
    <div class="profile">
      <div class="profile-div">
          <button class="picture" >
              <div class="profile-head"></div>
              <div class="profile-body"></div>
          </button>
          <!-- <a href="#" class="profile-link"> -->
            UserName
          <!-- <i href="#"class="fa fa-caret-down"></i> -->
          <div class="dropdown">
            <a href="/Group-E-31A-SastoHub/Sastohub/src/main/resources/templates/updateprofile.html">My Details <i class="fa-solid fa-user"></i></a>
            <a href="/Group-E-31A-SastoHub/Sastohub/src/main/resources/templates/updateaddress.html">My Address <i class="fa-sharp fa-solid fa-location-dot"></i></a>
            <a href="/Group-E-31A-SastoHub/Sastohub/src/main/resources/templates/BoughtProduct.html">My Orders <i class="fa-sharp fa-solid fa-bag-shopping"></i></a>
            <a href="/Group-E-31A-SastoHub/Sastohub/src/main/resources/templates/myproduct.html">My Reviews <i class="fa-sharp fa-solid fa-book"></i></a>
            <a href="/Group-E-31A-SastoHub/Sastohub/src/main/resources/templates/login.html">Logout <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i></a>
          </div>
      </div>
    </div>
  </div>
</header>

<body>

  <div class="wrapper">

    <h1>BROWSE PRODUCT</h1>

    <div class="project">      
      <div class="shop">
        <div class="box">
          <img class="img" th:src="'data:image/png;base64,'+${product.imageBase64}" />
          <div class="content">
            <h1 th:text="${product.productTitle}"></h1>

            <p><i>Brand New</i></p>

           <h4 th:text="${product.productPrice}"></h4>

            <p class="unit">Quantity: <input name="" value="2"></p>


            <p class="btn-area"><i aria-hidden="true" class="fa fa-shopping-cart"></i> <span class="btn2">ADD TO
                CART</span></p>



          </div>

        </div>

      </div>


      <div class="right-bar">
        <h1>Delivery</h1>
        <a href="" class="All over Nepal"><i class="fa-sharp fa-solid fa-location-dot"></i>
          All Over Nepal
        </a>
        <br>
        <a href="" class="No Warrenty"><i class="fa-sharp fa-solid fa-circle-exclamation"></i>
          No Warrenty
        </a>
      </div>
    </div>

    <div class="product-detail">
      <h1>Product detail</h1>
      <div class="desc">
        <div class="right_desc">
          <p   th:text="${product.productDescription}">

          </p>

        </div>
        <div class="left_desc">
                </div>
      </div>
    </div>

    <div class="review">

      <p> </p>

      <h1>Reviews</h1>

      <div class="individual">
        <p><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></p>
        <p>By: <span>Daju-Bhai</span></p>
        <p>Best Product</p>
      </div>
        <p><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></p>
        <p>By: <span>Didi-Baine</span></p>
        <p>Dherai Ramro Product</p>

      </div>
    </div>

  </div>

  <!--  -->
  <section>Sasto Hub</section>

		<footer class="footer-distributed">

			<div class="footer-right">

				<a href="" class="facebook-class"> <i class="fa-brands fa-facebook"></i>
          
        </a>
  
        <a href="" class="twitter-class"><i class="fa-brands fa-twitter"></i>
          
        </a>
        <a href="" class="instagram-class"><i class="fa-brands fa-instagram"></i>
          
        </a>

        <a href="" class="linkedin-class"><i class="fa-brands fa-linkedin"></i>
          
        </a>
			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#">Home</a>

					<a href="#">Blog</a>

					

					<a href="#">About Us</a>

					<a href="#">FAQs</a>

					<a href="#">Contact Us</a>
				</p>

				<p>SastoHub &copy; 2022</p>
			</div>

		</footer>
  <script>
    function showMessage() {
      alert("Ok let's review this product!");
    }
  </script>

</body>


</html>