<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{~/css/Browseproduct.css}" />
  <title>Browse Product</title>
</head>


<header>
  <div class="upperpart">
    <h1>
      <a th:href="@{~/home/homepage}">Sasto Hub</a>
    </h1>

    <input type="text" placeholder="Search">

    <i class="fa-solid fa-cart-shopping "></i>
    <a th:href="@{~/user/profile/{id}}"><i class="fa-solid fa-user "></i></a>


  </div>
  <div class="lowerpart">
    <a th:href="@{~/home/homepage}">Home</a>
    <a th:href="@{~/home/homepage}">Categories</a>

    <a th:href="@{~/home/homepage}">Services</a>
    <a th:href="@{~/pay/payment}">Contact</a>


    <a th:href="@{~/user/about}">About</a>


  </div>
</header>

<body>

  <div class="wrapper" >

    <h1>BROWSE PRODUCT</h1>

    <div class="project">
      <form th:method="post" th:action="@{/order/saveOrder}" th:object="${saveorder}" enctype="multipart/form-data">

      <div class="shop">

        <div class="box">

          <img class="img" th:src="'data:image/png;base64,'+${pro.imageBase64}" />

          <div class="content">

            <h1 th:text="${pro.productTitle}"></h1>
<!--            <h1 hidden th:text="${prod.getProductId()}"></h1>-->
<!--            <h1 hidden  th:text="${product.productCategory}"></h1>-->
<!--            <h1 hidden th:text="${product.productPrice}"></h1>-->
<!--            <h1 hidden th:text="${product.imageBase64}"></h1>-->

            <input type="text"  hidden="hidden" name="pid" th:field="${product.pid}">
            <input type="text"  hidden="hidden" name="id" th:value="${loggedUser.id}">
            <input type="text"  hidden="hidden" name="ptitle" th:value="${product.ptitle}">
            <input type="text"  hidden="hidden" name="pPrice" th:value="${product.PPrice}">
            <input type="text"  hidden="hidden" name="size" th:value="${product.size}">
            <input type="text"  hidden="hidden" name="fullname" th:value="${loggedUser.full_name}">
            <input type="text"  hidden="hidden" name="pCategories" th:value="${product.PCategories}">
            <input type="text"  hidden="hidden" name="address" th:value="${loggedUser.address}">
            <input type="text"  hidden="hidden" name="email" th:value="${loggedUser.email}">
            <input type="text"  hidden="hidden" name="mobile_no" th:value="${loggedUser.mobileNo}">
<!--            <img type="text"  hidden="hidden" name="image" th:value="${product.image}">-->

            <p><i>Brand New</i></p>

            <p> ProductPrice: <i th:text="${pro.productPrice}" style="color: red"></i></p>
<!--            <p class="unit">Quantity: <p th:> </p> </p>-->

            <p class="unit">Quantity: <input type="number" value=" " th:field="${saveorder.quantity}"></p>


            <button class="btn-area1" type="submit"><i aria-hidden="true" class="fa fa-shopping-cart"></i> <span class="btn3">BUY NOW</span></button>

            <button class="btn-area"><i aria-hidden="true" class="fa fa-shopping-cart"></i>ADD TO CART</button>


          </div>
        </div>
      </div>
</form>


<div class="right-bar">
        <h1>Delivery</h1>
        <a href="" class="All over Nepal"><i class="fa-sharp fa-solid fa-location-dot"></i>
          All Over Nepal
        </a>
        <br>

        <a href="" class="No Warrenty"><i class="fa-sharp fa-solid fa-circle-exclamation"></i>
          No Warranty
        </a>

      </div>
    </div>

    <div class="product-detail">
      <h1>Product detail</h1>
      <div class="desc">
        <div class="right_desc">
          <p   th:text="${pro.productDescription}"></p>
        </div>
        <div class="left_desc"></div>

      </div>
    </div>

    <div class="review">
      <p> </p>
      <h1>Reviews</h1>

      <div class="individual">
        <button class="star">&#9734;</button>
        <button class="star">&#9734;</button>
        <button class="star">&#9734;</button>
        <button class="star">&#9734;</button>
        <button class="star">&#9734;</button>
        <p class="current-rating">0 of 5</p>
      </div>

  </div>

  <!--  -->
    <div class="footertitle">SastoHub</div>

    <footer class="footer-distributed">

      <div class="footer-right">

        <a href="" class="facebook-class"> <i class="fa-brands fa-facebook"></i></a>
        <a href="" class="twitter-class"><i class="fa-brands fa-twitter"></i></a>
        <a href="" class="instagram-class"><i class="fa-brands fa-instagram"></i></a>
        <a href="" class="linkedin-class"><i class="fa-brands fa-linkedin"></i></a>
      </div>

      <div class="footer-left">

        <p class="footer-links">
          <a class="link-1" th:href="@{~/home/homepage}">Home</a>

          <a th:href="@{~/user/about}">About Us</a>

          <a th:href="@{~/user/faq}">FAQs</a>

          <a th:href="@{~/pay/payment}">Contact Us</a>
        </p>

        <p>sastohub@gmail.com Ktm, Nepal<br>
          85475967841, 3210154789, 0124587895</p>
        <p>SastoHub &copy; 2022</p>
      </div>

    </footer>
  <script>
    // function showMessage() {
    //   alert("Ok let's review this product!");
    // }


  //  rating
    const stars=document.querySelectorAll('.star');
    const current_rating=document.querySelector('.current-rating');

    stars.forEach((star,index)=>{
      star.addEventListener('click',()=>{

        let current_star=index+1;
        current_rating.innerText=`${current_star} of 5`;

        stars.forEach((star,i)=>{
          if(current_star>=i+1){
            star.innerHTML='&#9733;';
          }else{
            star.innerHTML='&#9734;';
          }
        });
      });
    });
  </script>
  </div>
</body>
</html>