<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="./FontAwesome files/fontawesome.css" /> -->
    <!-- <script src="./FontAwesome files/fontawesome.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <link rel="stylesheet" th:href="@{~/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{~/css/email.css}" />
    <title>Contact User</title>
</head>

<body>
<section id = "whole">
    <div class="middle">
        <div class="email">
            <h3>
                Email
            </h3>
            <input type="email">
        </div>

        <div class="description">
            <h3>
                Description
            </h3>
            <textarea rows="4" cols="50"></textarea>
        </div>

        <a  class = "btn btn-primary"href=" ">Send Mail</a>
    </div>
    </div>
</section>
</body>







</html>