<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ PAGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="FAQ.css">

</head>

<body>
    <main>

        <h1 class="faq-heading">FAQ'S </h1>
        <section class="faq-container">
            <div class="faq-one">

                
                <h1 class="faq-page">What is motive behind SastoHub?</h1>

                
                <div class="faq-body">
                    <p> The Main motive is to discard old traditional approach of shopping. SastoHub focuses on
                        Quality product with use of new technology .

                    </p>
                </div>
            </div>
            <hr class="hr-line">

            <div class="faq-two">