<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="./FontAwesome files/fontawesome.css" /> -->
  <!-- <script src="./FontAwesome files/fontawesome.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/static/css/Browseproduct.css" />
  <title>Browse Product</title>
</head>
<header>
  <div class="brand">
    <span class="SastoHub"></span>
    <h1>SastoHub</h1>
  </div>
  <span class="fas fa-bars" id="menuIcon" onclick="toggle()"></span>
  <div class="navbar" id="nav">
    <div class="searchBox">
      <input type="text" placeholder="Search Here" />
      <span class="fas fa-search" id="searchIcon"></span>
    </div>
    <ul>
      <li>
        <span class="fas fa-home" id="headIcon"></span>
        <a href="#"> Home </a>
      </li>
      <li>
        <span class="fa fa-list" id="headIcon"></span>
        <a href="#"> Categories </a>
      </li>
      <li>
        <span class="fas fa-sell" id="headIcon"></span>
        <a href="#"> Sell</a>
      </li>
      <li>
        <span class="fas fa-services" id="headIcon"></span>
        <a href="#"> Services </a>
      </li>
      <li>
        <span class="fas fa-contact" id="headIcon"></span>
        <a href="#"> Contact </a>
      </li>
      <li>
        <span class="fas fa-" id="headIcon"></span>
        <a href="#"> About </a>
      <li>
        <span class="fas fa-help" id="headIcon"></span>
        <a href="#"> Help </a>
      </li>
      </li>
    </ul>
    </div>
    </header>
<body>
    <script type="module">
      let list = document.getElementById("recommended-products");

      let recomendedProducts = [
        {
          name: "MacBook",
          image: "../../../resources/static/images/a1.jpg",
          price: 200,
          id: "1",
        },
        {
          name: "KTM Bike",
          image: "../../../resources/static/images/a1.jpg",
          price: 300,
          id: 2,
        },
      ];

      let s = "str2";
      const string = "str1" + s;
      const stringNew = `string ${string} ${s}`;

      const renderRecommendedList = () =>
        recomendedProducts.forEach((item, i) => {
          //research on onclick and html document render
          const card = `<a href="./addproduct.html?productId=${item.id}">
                         <div  class="button1" data-index=${i}>
                              <div class="card-info-wrapper">
                                <img src="${item.image}" id="getImage1" />
                                  <br />${item.name}
                                  <br />
                                  Rs. ${item.price}
                            </div>
                        </div>
                      </a>
                        `;
          const element = document.createElement("div");
          element.innerHTML = card;
          list.appendChild(element.firstChild);
        });
      console.log(window.location);
      renderRecommendedList();
    </script>

   
   
    <div class="main" id="section1">
      <img
        src="/SastoHub/src/main/resources/static/images/a2.jpg"
        id="getImage"
      />
      <div>
        <h2>Recommended</h2>
        <div id="recommended-products" />
      </div>
    </div>
    <div class="main" id="section2"></div>
    <div class="main" id="section2">
      <img
        src="/SastoHub/src/main/resources/static/images/a9.jpg"
        id="getImage2"
      />
      <h2>suggested</h2>
      <button class="button1">
        <img src="../images/a10.jpg" id="getImage1" /><br />Chanel<br />$20
      </button>
      <button class="button1">
        <img src="../images/a12.jpg" id="getImage1" /><br />Apple Product<br />$300
      </button>
      <button class="button1">
        <img src="../images/a7.jpg" id="getImage1" /><br />shoes<br />$10
      </button>
      <button class="button1">
        <img src="../images/a11.jpg" id="getImage1" /><br />Rolex<br />$50
      </button>
      <button class="button1">
        <img src="../images/a13.jpg" id="getImage1" /><br />Apple Watch<br />$50
      </button>
    </div>
    <div class="main" id="section2"><h2></h2></div>
    <footer>
      <p><a> sastohub@gmail.com</a><br />SASTOHUB</p>
    </footer>
  </body>
</html>
