<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/myproduct.css">
    </head>
    <header>
        <div class="brand">
          <span class="SastoHub"></span>
          <h1>SastoHub</h1>
        </div>
        <span class="fas fa-bars" id="menuIcon" onclick="toggle()"></span>
        <div class="navbar" id="nav">
          <div class="searchBox">
            <input type="text" placeholder="Search Here" />
            <span class="fas fa-search" id="searchIcon"></span>
          </div>
          <ul>
            <li>
              <span class="fas fa-home" id="headIcon"></span>
              <a href="#"> Home </a>
            </li>
            <li>
              <span class="fa fa-list" id="headIcon"></span>
              <a href="#"> Categories </a>
            </li>
            <li>
              <span class="fas fa-sell" id="headIcon"></span>
              <a href="#"> Sell</a>
            </li>
            <li>
              <span class="fas fa-services" id="headIcon"></span>
              <a href="#"> Services </a>
            </li>
            <li>
              <span class="fas fa-contact" id="headIcon"></span>
              <a href="#"> Contact </a>
            </li>
            <li>
              <span class="fas fa-" id="headIcon"></span>
              <a href="#"> About </a>
            <li>
              <span class="fas fa-help" id="headIcon"></span>
              <a href="#"> Help </a>
            </li>
            </li>
          </ul>
           <!-- Profile Picture Division -->
          <div class="profile">
            <div class="profile-div">
                <button class="picture" >
                    <div class="profile-head"></div>
                    <div class="profile-body"></div>
                </button>
                <!-- <a href="#" class="profile-link"> -->
                  UserName
                <!-- <i href="#"class="fa fa-caret-down"></i> -->
                <div class="dropdown">
                  <a href="/templates/updateprofile.html">My Details <i class="fa-solid fa-user"></i></a>
                  <a href="/templates/myproduct.html">My Orders <i class="fa-sharp fa-solid fa-bag-shopping"></i></a>
                  <a href="/templates/updateaddress.html">My Address <i class="fa-sharp fa-solid fa-location-dot"></i></a>
                  <a href="/templates/BoughtProduct.html">My Reviews <i class="fa-sharp fa-solid fa-book"></i></a>
                  <a href="/templates/login.html">Logout <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
            </div>
          </div>
        </div>
      </header>
<body>
    <section id="whole">
        <h1>My Account</h1>
        <div class="bodies">
            <div class="left">
                <a href=""><i class="fa-solid fa-user"></i> My Details</a>
                <a href=""><i class="fa-sharp fa-solid fa-location-dot"></i> My Address</a>
                <a href=""><i class="fa-sharp fa-solid fa-bag-shopping"></i> My Orders</a>
                <a href=""><i class="fa-sharp fa-solid fa-book"></i> My Reviews</a>
                <a href=""><i class="fa-sharp fa-solid fa-umbrella"></i> My Products</a>


            </div>
            <div class="right">
              <div class="box">
                <img src="/static/images/baggy jeans.jpeg">
                <div class="content">
      
                  <h3>Womens Baggy Jeans</h3>
                  <small>Brand New</small>
      
                  <h4>Price: 700</h4>
                  <button class="button-1" role="button">Edit</button>
                  <button class="button-2" role="button" onClick="showMessage()">Delete</button>
      
      
      
                </div>
              </div>
            </div>
        </div>
    </section>
    <footer class="footer-distributed">

        <div class="footer-right">

            <a href="" class="facebook-class"> <i class="fa-brands fa-facebook"></i>
      
    </a>

    <a href="" class="twitter-class"><i class="fa-brands fa-twitter"></i>
      
    </a>
    <a href="" class="instagram-class"><i class="fa-brands fa-instagram"></i>
      
    </a>

    <a href="" class="linkedin-class"><i class="fa-brands fa-linkedin"></i>
      
    </a>
        </div>

        <div class="footer-left">

            <p class="footer-links">
                <a class="link-1" href="#">Home</a>

                <a href="#">Blog</a>

                

                <a href="#">About Us</a>

                <a href="#">FAQs</a>

                <a href="#">Contact Us</a>
            </p>

            <p>SastoHub &copy; 2022</p>
        </div>

    </footer>
    <script>
      function showMessage() {
          alert("Are you sure you want to delete?");
      }
  </script>
</body>

</html>