<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="./FontAwesome files/fontawesome.css" /> -->
  <!-- <script src="./FontAwesome files/fontawesome.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" th:href="@{~/css/Payment.css}">
<!--  <link rel="stylesheet" href="/static/css/Payment.css">-->
  <title>Browse Product</title>
</head>
<header>
  <div class="brand">
    <span class="SastoHub"></span>
    <h1>SastoHub</h1>
  </div>
  <span class="fas fa-bars" id="menuIcon" onclick="toggle()"></span>
  <div class="navbar" id="nav">
    <div class="searchBox">
      <input type="text" placeholder="Search Here" />
      <span class="fas fa-search" id="searchIcon"></span>
    </div>
    <ul>
      <li>
        <a href="#"> Home </a>
      </li>
      <li>
        <a href="#"> Services </a>
      </li>
      <li>
        <a href="#"> Contact </a>
      </li>
      <li>
        <a href="#"> About </a>
      <li>
      <li>
        <a href="#"> Help </a>
      </li>
    </ul>
<!--    <button>-->
<!--     Profile Picture Division -->
<!--    <div class="profile">-->
<!--      <div class="profile-div">-->
<!--        <button class="picture" >-->
<!--          <div class="profile-head"></div>-->
<!--          <div class="profile-body"></div>-->
<!--        </button>-->
<!--         <a href="#" class="profile-link"> </a>-->
<!--        UserName-->
<!--         <i href="#"class="fa fa-caret-down"></i> -->
<!--        <div class="dropdown">-->
<!--          <a href="/Group-E-31A-SastoHub/Sastohub/src/main/resources/templates/updateprofile.html">My Details <i class="fa-solid fa-user"></i></a>-->
<!--          <a href="/Group-E-31A-SastoHub/Sastohub/src/main/resources/templates/updateaddress.html">My Address <i class="fa-sharp fa-solid fa-location-dot"></i></a>-->
<!--          <a href="/Group-E-31A-SastoHub/Sastohub/src/main/resources/templates/BoughtProduct.html">My Orders <i class="fa-sharp fa-solid fa-bag-shopping"></i></a>-->
<!--          <a href="/Group-E-31A-SastoHub/Sastohub/src/main/resources/templates/myproduct.html">My Reviews <i class="fa-sharp fa-solid fa-book"></i></a>-->
<!--          <a href="/Group-E-31A-SastoHub/Sastohub/src/main/resources/templates/login.html">Logout <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i></a>-->
<!--        </div>-->
      </div>.
    </div>
  </div>
</header>


<body>
<div class="wrapper">
  <div class="checkout_wrapper">
    <div class="product_info">
      <p>
        Make your Payment
      </p>
    </div>
    <div class="checkout_form">
      <p>Payment Section</p>
      <div class="details">
        <div class="section">
          <input type="text" placeholder="Card Number">
        </div>
        <div class="section">
          <input type="text" placeholder="Cardholder Name">
        </div>
        <div class="section last_section">
          <div class="item">
            <input type="text" placeholder="Expiry Date">
          </div>
        </div>

        <div class="btn">
          <a href="#">Pay</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<footer>
</footer>



</html>