<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetProduct</title>
    <link rel="stylesheet" th:href="@{~/css/userlist.css}">
    <link rel="stylesheet" href="/css/productlist.css">
</head>
<body>
    <div class="autodiv" th:each="product:${product}">
        <a href="BoughtProduct.html">
        <h6 th:text="${product.productTitle}"></h6>
        <h6 th:text="${product.productCategory}"></h6>
        <h6 th:text="${product.productDescription}"></h6>
        <h6 th:text="${product.productPrice}"></h6>
        </a>
    </div>

</body>
</html>