<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account section</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{~/css/update.css}">
</head>

<body>
<section id="whole">
    <h1>My Account</h1>
    <div class="bodies">
        <div class="left">
            <a href=""><i class="fa-solid fa-user"></i> My Details</a>
            <a href=""><i class="fa-sharp fa-solid fa-location-dot"></i> My Address</a>
            <a href=""><i class="fa-sharp fa-solid fa-location-dot"></i> My Orders</a>
            <a href=""><i class="fa-sharp fa-solid fa-location-dot"></i> My Reviews</a>


        </div>
        <div class="right">
            <h1>My Details</h1>

            <h2>Personal information</h2>
            <div class="input_info">
                <div class="element">
                    Name <br>
                    <input type="text">
                </div>
                <div class="element">
                    Birthdate <br>
                    <input type="date">
                </div>
                <div class="element">
                    Phone<br>
                    <input type="text">
                </div>
                <div class="element">
                    Address<br>
                    <input type="text">
                </div>
                <div class="element">

                    Email<br>
                    <input type="email">
                </div>
            </div>
            <button>Save</button>
            <button id="modalBtn" class="button">Delete Account</button>
            <div id="simpleModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="closeBtn">&times;</span>
                        <h2>Confirm Delete</h2>
                    </div>
                    <div class="modal-body">
                        <h1>Are you sure you want to delete your account?</h1>
                        <p>Once deleted you cannot retrieve your account. All of your data will be deleted and
                            can no longer be accessed</p>
                    </div>
                    <div class="modal-footer">
<!--                        <a class="delete" th:href="@{~/user/delete/}+${user.id}">Delete</a>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<script th:src="@{~/js/updateaddress.js}"></script>
</body>

</html>