.container{
    background-color: white;
    max-height: 90vh;
    display: flex;
    align-items: center;
    /* border:1px solid gray ; */
    padding: 3%;
}
.inside_container{
    min-height: 80vh;
    width: 100%;
    
    background-color: #eeeee4;
}
.inside_container .bodies{
    display: flex;
    flex-direction: column;
}

#condition{
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;

}
#category{
    padding-top: 10px;
    width:70%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;

}
.inside_container .bodies textarea{
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.inside_container .bodies select{
    margin-bottom: 3%;
}
.inside_container .footer{
    margin: 20px;

    
}
.inside_container .footer button{
    margin-right: 350px;
}