html{
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #292929;
  }
  
  .login-form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 600px;
    height: 500px;
    background-color: white;
    box-shadow: 0 6px 20px rgba(25, 27, 28, 0.5);
    /* padding: 30px; */
    margin: 60px 390px;
  }
  
  .left-section {
    width: 55%;
    background: #F4F6F8;
  }
  
  .right-section {
    width: 50%;
    background: white;
  }
  .login-form .left-section h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 40px;
  }
  
  .formAlign{
    margin-top: 70px;
  }
  .login-form .formGroup {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .login-form .formGroup input {
    position: relative;
    border-radius: 15px;
    font-size: 14px;
    border: none;
    width: 70%;
    background-color: #C5F6EB ;
    padding: 13px;
  
  }
  
  .formGroup input:focus {
    outline: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  ::placeholder {
    color: #879C97;
  }
  
  .btn-align {
    margin-left: 126px;
    margin-top: 28px;
  }

  .forgot {
    margin-top: 10px;
    margin-left: 100px;
  }

  .left-section .ask {
    margin-top: 20px;
    margin-left: 45px;
  }
  
  
  
  