*{
    background-color: #eeeee4;
    
    
}
.whole h1{
    background-color: #eeeee4;
}

.right h1{
    background-color: white;
}
.right h2{
    background-color: white;

}
.bodies{
        
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    flex-wrap: wrap;
    
    
}